name: Rust
on: [push]

jobs:
  buildForSomePlatforms:
    name: Build Windows ${{ matrix.config.arch }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - { arch: x86_64, bits: 64 }
          - { arch: i686, bits: 32 }

    steps:
      - uses: actions/checkout@v2

      # Cache for normal pushes
      - name: Cache cargo registry
        uses: actions/cache@v1
        if: startsWith(github.ref, 'refs/tags/') != true
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-${{ matrix.config.arch }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.config.arch }}-cargo-registry-
      - name: Cache cargo index
        uses: actions/cache@v1
        if: startsWith(github.ref, 'refs/tags/') != true
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-${{ matrix.config.arch }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.config.arch }}-cargo-index-

      # Cache for releases
      - name: Cache cargo registry
        uses: actions/cache@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-${{ matrix.config.arch }}-release-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.config.arch }}-release-cargo-registry-
      - name: Cache cargo index
        uses: actions/cache@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-${{ matrix.config.arch }}-release-cargo-index-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.config.arch }}-release-cargo-index-

      - name: Install deps
        run: |
          iwr -useb get.scoop.sh | iex
          echo "##[add-path]$HOME\scoop\shims"
          echo "##[add-path]C:\ProgramData\scoop\shims"
          scoop install aria2
          scoop install --arch ${{ matrix.config.bits }}bit llvm
          echo "::set-env name=LIBCLANG_PATH::$HOME\scoop\apps\llvm\current\bin"
          aria2c 'http://opensource.spotify.com/cefbuilds/cef_binary_81.2.17%2Bgb382c62%2Bchromium-81.0.4044.113_windows${{ matrix.config.bits }}.tar.bz2' -o cef_binary.tar.bz2
          7z x -y 'cef_binary.tar.bz2'
          Remove-Item 'cef_binary.tar.bz2'
          7z x -y 'cef_binary.tar'
          Remove-Item 'cef_binary.tar'
          Get-ChildItem 'cef_binary_*' | Rename-Item -NewName 'cef_binary'
          Move-Item -Path 'cef_binary' -Destination 'cef_interface'

      - name: Install nightly
        uses: actions-rs/toolchain@v1
        with:
          target: ${{ matrix.config.arch }}-pc-windows-msvc
          toolchain: nightly-${{ matrix.config.arch }}-pc-windows-msvc
          override: true

      - name: Build
        uses: actions-rs/cargo@v1
        if: startsWith(github.ref, 'refs/tags/') != true
        with:
          target: ${{ matrix.config.arch }}-pc-windows-msvc
          command: build

      - name: Test
        uses: actions-rs/cargo@v1
        if: startsWith(github.ref, 'refs/tags/') != true
        with:
          target: ${{ matrix.config.arch }}-pc-windows-msvc
          command: test
          args: -- --nocapture

      - name: Build Release
        uses: actions-rs/cargo@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          target: ${{ matrix.config.arch }}-pc-windows-msvc
          command: build
          args: --release

      - run: Rename-Item -Path "target\release\classicube_cef_plugin.dll" -NewName "classicube_cef_windows_${{ matrix.config.arch }}.dll"
        if: startsWith(github.ref, 'refs/tags/')

      - run: Get-ChildItem "target\release\build\classicube-cef-plugin-*\out\cefsimple.exe" | Rename-Item -NewName "cefsimple-${{ matrix.config.arch }}.exe"
        if: startsWith(github.ref, 'refs/tags/')

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            target/release/classicube_cef_windows_${{ matrix.config.arch }}.dll
            target/release/build/classicube-cef-plugin-*/out/cefsimple-${{ matrix.config.arch }}.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
