name: Update CEF version

on:
  schedule:
    - cron: "0 19 * * 5" # friday at noon
  workflow_dispatch:

concurrency:
  group: update-cef-version-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update_cef_version:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - id: update_cef_version
        run: |
          nix run .github#update-cef-version \
            --print-build-logs --no-write-lock-file --recreate-lock-file
          CEF_BINARY_VERSION="$(nix run .github#get-latest-cef-version \
            --print-build-logs --no-write-lock-file --recreate-lock-file)"
          echo "cef_binary_version=$CEF_BINARY_VERSION" >> "$GITHUB_OUTPUT"
      - run: git diff && git add -v .
      - run: |
          nix build .#default \
            --print-build-logs --no-update-lock-file
      - run: git status && git diff --cached
      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          body: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          branch: update-cef-binary
          commit-message: "fix(cef_binary): update cef_binary to `${{ steps.update_cef_version.outputs.cef_binary_version }}`"
          title: "fix(cef_binary): update cef_binary to `${{ steps.update_cef_version.outputs.cef_binary_version }}`"
