name: Update CEF version

on:
  schedule:
    - cron: "0 19 * * 5" # friday at noon
  workflow_dispatch:

concurrency:
  group: update-cef-version-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update_cef_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - id: update_cef_version
        run: |
          nix run .github#update-cef-version \
            --print-build-logs --no-write-lock-file --recreate-lock-file
          CEF_BINARY_VERSION="$(nix run .github#get-latest-cef-version \
            --print-build-logs --no-write-lock-file --recreate-lock-file)"
          echo "cef_binary_version=$CEF_BINARY_VERSION" >> "$GITHUB_OUTPUT"
      - run: git diff && git add -v .
      - run: |
          nix build .#default \
            --print-build-logs --no-update-lock-file
      - run: git status && git diff --cached
      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          branch: upgrade-cef-binary
          branch-token: ${{ secrets.GIT_PAT }}
          title: Upgrade cef_binary to `${{ steps.update_cef_version.outputs.cef_binary_version }}`
          body: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          commit-message: Upgrade cef_binary to `${{ steps.update_cef_version.outputs.cef_binary_version }}`
