name: Update CEF version

on:
  schedule:
    - cron: "0 19 * * 5" # friday at noon
  workflow_dispatch:

concurrency:
  group: update-cef-version-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update_cef_version:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - id: update_cef_version
        run: |
          nix run .github#update-cef-version \
            --print-build-logs --no-write-lock-file --recreate-lock-file
          CEF_BINARY_VERSION="$(nix run .github#get-latest-cef-version \
            --print-build-logs --no-write-lock-file --recreate-lock-file)"
          echo "cef_binary_version=$CEF_BINARY_VERSION" >> "$GITHUB_OUTPUT"
      - run: git diff && git add -v .
      - run: |
          nix build .#default \
            --print-build-logs --no-update-lock-file
      - run: git status && git diff --cached
      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          body: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          branch: update-cef-binary
          commit-message: "fix(cef_binary): update cef_binary to `${{ steps.update_cef_version.outputs.cef_binary_version }}`"
          title: "fix(cef_binary): update cef_binary to `${{ steps.update_cef_version.outputs.cef_binary_version }}`"
